%link{ :rel => "stylesheet", :href => "/css/schedule.css" }

%span.schedules-title-ita Partenze
%span.schedules-title-eng Departures
%img.logo-rfi{src: '/images/logoRFI.png'}
%span.schedules-title-ita.current-time
%table.table#departures
  %thead
    %tr
      %th
        %span.schedule-title treno
        %br
        train
      %th
      %th
        %span.schedule-title destinazione
        %br
        destination
      %th
        %span.schedule-title orario
        %br
        time
      %th
        %span.schedule-title ritardo
        %br
        delay
      %th
        %span.schedule-title binario
        %br
        platform
  %tbody{:"data-schedule-count" => 20}