!!! 5

-# <!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
-# <!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
-# <!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
-# <!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->

%html.no-js{:lang => "it"}

    %head

        -# ==========================================================================
        -# Head
        -# ==========================================================================

        %meta{:charset => "utf-8"}

        %meta{:"http-equiv" => "X-UA-Compatible", :content => "IE=edge"}

        %title
        %meta{:name => "description", :content => ""}
        -# %meta{:name => "keywords", :content => ""}
        -# %meta{:name => "author", :content => ""}

        -# Mobile
        -# ==========================================================================

        / %meta{:name => "viewport", :content => "width=device-width, initial-scale=1"}

        -# RSS
        -# ==========================================================================

        -# %link{:rel => "alternate", :type => "application/rss+xml", :title => "RSS", :href => "http://feeds.feedburner.com/FEEDNAME"}

        -# Favicon
        -# ==========================================================================

        %link{:href => "/favicon.ico", :rel => "shortcut icon"}

        -# CSS
        -# ==========================================================================

        %link{:href => "//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css", :rel => "stylesheet"}/
        %link{:href => "http://fonts.googleapis.com/css?family=Hind:300,700", :rel => "stylesheet", :type => "text/css"}/
        %link{ :rel => "stylesheet", :href=>"//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" }/
        %link{ :rel => "stylesheet", :href => "//code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css" }/
        %link{ :rel => "stylesheet", :href => "/css/layout.css" }/
        - if env['REQUEST_PATH'] =~ /\/show/
            %link{ :rel => "stylesheet", :href => "/css/schedule.css" }/

        -# JS
        -# ==========================================================================


    %body

        -# ==========================================================================
        -# Content
        -# ==========================================================================
        = yield

        -# JS
        -# ==========================================================================

        -# jQuery

        %script{:type => "text/javascript", :src => "//code.jquery.com/jquery-1.10.2.js"}
        %script{:type => "text/javascript", :src => "//code.jquery.com/ui/1.11.2/jquery-ui.js"}

        -# UnderscoreJS

        %script{:type => "text/javascript", :src => "//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.7.0/underscore-min.js"}

        -# Custom JS

        %script{:src => "/javascripts/layout.js"}
        - if env['REQUEST_PATH'] =~ /\/show/
            %script{:src => "/javascripts/schedule.js"}
        -#
        -# Asynchronous Google Analytics
        -# Change UA-XXXXX-X to be your site's ID
        -# mathiasbynens.be/notes/async-analytics-snippet
        -#