%span.schedules-title-ita Partenze
%span.schedules-title-eng Departures
%img.logo-rfi{src: '/images/logoRFI.png'}
%span.schedules-title-ita.current-time
%table.table#departures
  %thead
    %tr
      %th
        %span.schedule-title treno
        %br
        train
      %th
      %th
        %span.schedule-title destinazione
        %br
        destination
      %th
        %span.schedule-title orario
        %br
        time
      %th
        %span.schedule-title ritardo
        %br
        delay
      %th
        %span.schedule-title binario
        %br
        platform
  %tbody{:"data-schedule-count" => 10}

%span.schedules-title-ita Arrivi
%span.schedules-title-eng Arrivals
%img.logo-rfi{src: '/images/logoRFI.png'}
%span.schedules-title-ita.current-time
%table.table#arrivals
  %thead
    %tr
      %th
        %span.schedule-title treno
        %br
        train
      %th
      %th
        %span.schedule-title provenienza
        %br
        origin
      %th
        %span.schedule-title orario
        %br
        time
      %th
        %span.schedule-title ritardo
        %br
        delay
      %th
        %span.schedule-title binario
        %br
        platform
  %tbody{:"data-schedule-count" => 10}
